<!doctype html>
<html>
<% include ./partials/head %>
<body>
<% include ./partials/navbar %>
<div class="container">


    <div class="row">

        <!-- LOCAL INFORMATION -->

        <div class="col-sm-8 col-sm-offset-2 center">

            <table class="table table-bordered">
                <h1>Your Drivers</h1>
                <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><strong>Driver ID</strong>: <%= data[i].did %></td>
                    <td><strong>Driver Name</strong>: <%= data[i].name %><br></td>
                    <td><a href="./drivers/<%= data[i].did %>"> View Driver Information</a> </td>
                    <td><a href="./drivers/<%= data[i].did %>/delete"> Delete Driver</a></td>
                </tr>
                <% } %>
            </table>
          <!--  <h3><a href="./newDriver">Add Driver</a></h3>-->
        </div>

    </div>

</div>
</body>
</html>
