<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>DOMS</title>
    <style>
        html, body {
            height: 100%;
        }

        .login-bg {
          height: 100%;
          background-image: url('https://source.unsplash.com/y3aP9oo9Pjc');
          -moz-background-size: cover;
          -webkit-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>

<div class="login-bg">
    <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1 style="color: white;"><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label style="color: white;">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label style="color: white;">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p style="color: white;">Need an account? <a href="/signup">Signup</a></p>
        <p style="color: white;">Or go <a href="/">home</a>.</p>

    </div>

    </div>
</div>
</body>
</html>
