<!doctype html>
<html>
<% include ./partials/head %>
<body>
<% include ./partials/navbar %>
<div class="container">


    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8 col-sm-offset-2 text-center">
        <table class="table table-bordered">
            <h1>Your Orders</h1>
            <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td><strong>Order ID</strong>: <%= data[i].oid %></td>
                <td><strong>Order Description</strong>: <%= data[i].description %></td>
                <td><a href="/profile/orders/<%= data[i].oid %>"> View order    </a>  </td>
                <td><a href="/profile/orders/<%= data[i].oid %>/delete"> Delete order   </a></td>
            </tr>
            <% } %>
        </table>
            <h3><a href="./newOrder" class="btn btn-success">Create new order</a></h3>
            <!-- <p>Or go <a href="/">Home</a>.</p> -->
        </div>

    </div>

</div>
</body>
</html>
