<!doctype html>
<html>
<head>
    <title>DOMS</title>
    <style>
        html, body {
            height: 100%;
        }

        .login-bg {
          height: 100%;
          background-image: url('https://source.unsplash.com/dqMxDqdhg_4');
          -moz-background-size: cover;
          -webkit-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="login-bg">
    <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Store Name</label>
                <input type="text" class="form-control" name="storename">
            </div>
            <div class="form-group">
                <label>Store Email</label>
                <input type="text" class="form-control" name="storeemail">
            </div>
            <div class="form-group">
                <label>Store Phone</label>
                <input type="text" class="form-control" name="storephone">
            </div>
            <div class="form-group">
                <label>Store Address</label>
                <input type="text" class="form-control" name="storeaddress">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p><strong>Already have an account? <a href="/login">Login</a></strong></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

    </div>
</div>

</body>
</html>
